body {
    background: #000000;
  }

  .intro {
    background: #232323;
    color: #ffffff;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    font-size: 50px;
  }

  ol {
    font: 40px white;
  }
  

  img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
  }

  .des {
    color: #ffffff;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
  }

  .des p {
    font-size: 50px;
  }
.des pre{
  font-family: 'Nanum Myeongjo', serif;
}
  .but {
    text-align: center;
  }

 
  button {
    width: 120px;
    height: 50px;
    font-size:20px;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    background-color: rgb(28, 24, 104);
    cursor:pointer;
  }
  button.chapEnd{
    position:sticky;
    float:right;
  }
  
  table{
    background:#232323;
    color:white;
    font-size:15px;
    width:100%;
    left:50%;
    border:0;
    padding:3px;
  }
  .list{
    background:none;
  }

  tr{
    border:0;
  }
  
  td, th{
    background:#232323;
    text-align:center;
    border:0;
    font-family: 'Nanum Myeongjo', serif;
    width:40%;
  }

  .clue{
    border-radius:15px;
    padding:10px;
    border: 3px solid #000000;
  }
  td .clue{
    cursor:pointer;
  }


input {
  outline: none;
  border: #404040 3px solid;
  text-align:center;
  background-color:#181818;
  font-family: 'Nanum Myeongjo', serif;
  font-size:13px;
  color:white;
}

p {
  text-align:center;
  color:white;
  border:#404040 3px solid;
  border-radius:10px;
  font-family: 'Nanum Myeongjo', serif;
  padding:5px;
}

img.message{
  width:34px;
  height:22px;
  display:inline-block;
  vertical-align:top;
  left:20%
}