body {
    background: #000000;
  }

  .intro {
    background: #232323;
    color: #ffffff;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    font-size: 50px;
  }

  ol {
    font: 40px white;
  }
  

  img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
  }

  .des {
    color: #ffffff;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
  }

  .des p {
    font-size: 50px;
  }
.des pre{
  font-family: 'Nanum Myeongjo', serif;
}
  .but {
    text-align: center;
  }

  .but .start-button {
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  button {
    width: 120px;
    height: 50px;
    font-size:20px;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    background-color: rgb(28, 24, 104);
  }

  table{
    padding:5px;
    border-color:gray;
    text-align:center;
    width:100%;
    font-family: 'Nanum Myeongjo', serif;
    background-color:#232323;
  }
  

th {
  color: white;
}
th .chapTitle{
  font-size: 20px;
  border: rgb(28,24,104);
}
input {
  outline: none;
  border: #404040 3px solid;
  text-align:center;
  background-color:#181818;
  font-family: 'Nanum Myeongjo', serif;
  font-size:13px;
}