html{
  text-align:center;
}

body {
    background: #000000;
    max-height:min-content;;
    display:inline-block;
    width:90%;
    text-align:center;
  }

  .intro {
    text-align: center;
    padding: 20px;
    width:40%;
    height:10%;
    max-height:min-content;
  }
  div.intro{
    width:100%;
    color: #ffffff;
    font-family: 'Nanum Myeongjo', serif;
    font-size:300%;
    text-align:center;
    padding:0px;
    background:#232323;
  }
  ol {
    font: 40px white;
  }
  th.clue{
    cursor:default;
  }
  

  img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
  }

  .des {
    color: #ffffff;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
  }

  .des p {
    font-size: 90%;
    border:0px;
  }
.des pre{
  font-family: 'Nanum Myeongjo', serif;
}
  .but {
    text-align: center;
  }

 
  button {
    width: 120px;
    height: 50px;
    font-size:20px;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
    background-color: rgb(28, 24, 104);
    cursor:pointer;
  }
  button.chapEnd{
    position:sticky;
    float:right;
    width:auto;
    height:auto;
    font-size:90%;
  }
  button#btn{
    display:none;
  }
  
  table{
    color:white;
    text-align:centor;
    font-size:100%;
    width:100%;
    left:50%;
    border:0;
    padding:3px;
    cursor:default;
  }
  .list{
    background:none;
  }

  tr{
    border:0;
  }
  
  td, th{
    background:#232323;
    text-align:center;
    border-radius:15px;
    border: 3px solid #000000;
    font-family: 'Nanum Myeongjo', serif;
    width:40%;
    padding:10px;
  }

  .clue{
    cursor:pointer;
  }


input {
  outline: none;
  border: #404040 3px solid;
  text-align:center;
  background-color:#181818;
  font-family: 'Nanum Myeongjo', serif;
  font-size:13px;
  color:white;
}

p {
  text-align:center;
  color:white;
  border:#404040 3px solid;
  border-radius:10px;
  font-family: 'Nanum Myeongjo', serif;
  padding:5px;
}

img.message{
  max-width:34px;
  max-height:22px;
  top:8%;
  left: 20%;
  cursor:pointer;
  position:sticky;
}

#usb{
  background-color:white;
}
#after{
  display:none;
}